@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen bg-taupe font-sans text-base;
}

@layer utilities {
    .radix-select-trigger-width {
        width: var(--radix-select-trigger-width);
    }
}

.line {
    border-top: 1px solid #1e140a;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}